*{
    border:1px solid red;
    margin:0px;
    padding:0px;
    font-family: 'Poppins', sans-serif, Plus Jakarta Sans;
    font-family: "Google Sans Flex", sans-serif;
    font-optical-sizing: auto;
}

